@model VetManagement.Core.Model.Patient

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this Patient?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="wrapper">
            <div class="form">
                <div class="input-fields">
                    <label>@Html.DisplayNameFor(model => model.Owner.FullName)</label>
                    <input class="form-control" type="text" name="name" value="@Html.DisplayFor(model => model.Owner.FullName)" readonly />

                    <label>@Html.DisplayNameFor(model => model.Name)</label>
                    <input class="form-control" type="text" name="name" value="@Html.DisplayFor(model => model.Name)" readonly />

                    <label>@Html.DisplayNameFor(model => model.Gender)</label>
                    <input class="form-control" type="text" name="name" value="@Html.DisplayFor(model => model.Gender)" readonly />
                </div>
            </div>
            <input type="submit" value="Delete" class="submit-button" />
            <div class="create-button">
                <i class="fas fa-arrow-left"></i>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</body>
</html>
