@model IEnumerable<VetManagement.Core.Model.Patient>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Patients</h2>
    <span class="create-button">
        @Html.ActionLink("Create New", "Create")
    </span>
    <div class="wrapper">
        <table class="table">
            <tr class="row header">
                <th class="cell">
                    @Html.DisplayNameFor(model => model.Owner.FullName)
                </th>
                <th class="cell">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="cell">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th class="cell">
                    Manage
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="cell">
                        @Html.DisplayFor(modelItem => item.Owner.FullName)
                    </td>
                    <td class="cell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="cell">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td class="cell">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
